<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <title>Home</title>
      <link rel="stylesheet" href="/styles/content.css">
      <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet">
      <link rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
</head>
<body>
      <header>
            <a href="#" class="logo"><i class="ri-home-smile-2-fill"><span>Logo</span></i></a>
            <ul class="navbar">
                  <li><a href="/" class="active">Home</a></li>
                  <li><a href="/blog">Blog</a></li>
                  <li><a href="/post">Post</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="main">
                  <a href="#" class="user"><i class="ri-user-fill"></i>Sign In</a>
                  <a href="#">Register</a>
                  <div class="bx bx_menu" id="menu-icon"><i class="ri-menu-line"></i></div>
            </div>
            <hr>
      </header>

      <div class="content-form">
            <div class="header-form">
                  <h1>Add a Blog</h1>
                  <form action="/submit" method="post">
                        <ul>
                              <li>
                                <label for="name">Date&nbsp;:</label>
                                <input type="date" id="name" name="user_date" />
                              </li>
                              <li>
                                <label for="mail">Domaine&nbsp;:</label>
                                <input type="text" id="text" name="user_domaine" />
                              </li>

                              <li>
                                    <label for="mail">Titre&nbsp;:</label>
                                    <input type="text" id="text" name="user_title" />
                                  </li>
                              <li>
                                <label for="msg">Message&nbsp;:</label>
                                <textarea id="msg" name="user_message"></textarea>
                              </li>

                              <div class="button-send">
                                    <button type="submit">Envoyer le message</button>
                                  </div>
                                  
                  </form>
            </div>
      </div><

      <script>
            let menu = document.querySelector('#menu-icon');
            let navbar = document.querySelector('.navbar');
      
            menu.onclick = () => {
                  menu.classList.toggle('bx-x');
                  navbar.classList.toggle('open');
            };
      
      </script>






</body>
